/*--------------------------------------------------------------
>>>>>> CSSeco Styles(usualy overwrite bootsrap styles :))
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
	#  Imports
	##  Fonts
    ##  Bootstrap
	#  CSSeco Variables
	#  Overides(bs)
	#  Helper Classes
	#  CSSeco Styles
	## Body
	## Header
	## Footer
	## Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#  Imports 
##  Fonts
--------------------------------------------------------------*/
//@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
//@import url('../fonts/fonts.css');

/*--------------------------------------------------------------
#  Imports
##  Bootstrap
--------------------------------------------------------------*/
//@import "../../vendor/bs4/scss/bootstrap";

/*--------------------------------------------------------------
#  CSSeco Variables
--------------------------------------------------------------*/
/* BreakPoint */
$csseco_bp_320	:    320px	!default;
$csseco_bp_576	:    576px	!default;
$csseco_bp_768	:    768px	!default;
$csseco_bp_992	:    992px	!default;
$csseco_bp_1200	:    1200px	!default;

/*--------------------------------------------------------------
#  Overides(bs)
--------------------------------------------------------------*/
body {}

/*--------------------------------------------------------------
#  Helper Classes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#  CSSeco Styles
## Body
--------------------------------------------------------------*/
div#site-wrapper {

/*--------------------------------------------------------------
#  CSSeco Styles
## Header
--------------------------------------------------------------*/
	header#header {}
	
/*--------------------------------------------------------------
#  CSSeco Styles
## Footer
--------------------------------------------------------------*/
	footer#footer {}
	
/*--------------------------------------------------------------
#  CSSeco Styles
## Content
--------------------------------------------------------------*/
	.loginW {
		margin: 40px auto 0;
		max-width: 100%;
		width: 100%;
		@media screen and (min-width: $csseco_bp_576) {
			max-width: 90%;
		}
		@media screen and (min-width: $csseco_bp_768) {
			max-width: 60%;
		}
		@media screen and (min-width: $csseco_bp_992) {
			max-width: 40%;
		}
		@media screen and (min-width: $csseco_bp_1200) {
			max-width: 30%;
		}
	}
	
}

























